<div class="carousel-container">
    <div class="carousel">
      <div class="carousel-item">
        <img src="imgs/Forside1.png" alt="Image 1">
      </div>
      
    <div class="carousel-arrow left-arrow">
      <img src="imgs/Vector_23.png" alt="Left Arrow">
    </div>
    <div class="carousel-arrow right-arrow">
      <img src="imgs/Vector_24.png" alt="Right Arrow">
    </div>
  </div>
  <style>
.carousel-container {
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
}

.carousel {
  display: flex;
  width: fit-content;
  height: 100%;
  transition: transform 0.3s ease-in-out;
}

.carousel-item {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  margin-right: 20px;
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.carousel-arrow:hover {
  background-color: rgba(189, 189, 189, 0.2);
}

.carousel-arrow img {
  width: 75px;
  height: 45px;
}

.left-arrow {
  left: 20px;
}

.right-arrow {
  right: 20px;
}

  </style>
