

<div class="background_color">
<img id="CardImg" src="imgs/Odense.png" />
    <p> Faros Cigarer</p>
    <p> Klostervej 3500 Odense C</p>
     <p> Åbningstider</p>
       <ul>
            <li>
                Mandag: 10:00-17:30
            </li>
            <li>
                Tirsdag: 10:00-17:30
            </li>
            <li>
                Onsdag: 10:00-17:30
            </li>
            <li>
                Torsdag: 10:00-17:30
            </li>
            <li>
                Fredag: 10:00-18:00
            </li>
            <li>
                Lørdag: 10:00-17:00
            </li>
            <li>
                Søndag: 11:00-16:00
            </li>
        </li>
	</a>
</li>
</div>
<style>
    img{
        width: 100%;
    }
    p{
        padding-top: 5%;
        margin-left: 7px;
        color: white;
    }
    li{
        color: white;
        padding: 5%;
    }
    ul{
        width: 200px;
        height: 270px;
        list-style: none;
        padding-left: 0px;

        
    }
    .background_color{
        background-color: #595959;
        width: 260px;
    }
</style>
